.git
.github
.vscode
.idea

node_modules
**/node_modules

dist
**/dist
build
**/build
coverage
**/coverage

npm-debug.log
yarn-error.log
pnpm-debug.log

.env
*.local

*.tsbuildinfo
*.log

postman
infra
packages/core
